<app-selects [acumuladoVentas]="acumuladoVentas" [years$]="years$" [months$]="months$" [yearSelected]="yearSelected" 
[monthSelected]="monthSelected" [ventasFiltradas$]="ventasFiltradas$" (onYearChangeRedirect)="year_OnChange($event)"
(onMesChangeRedirect)="mes_OnChange($event)"></app-selects>

<app-selects [acumuladoVentas]="acumuladoVentas" [years$]="years$" [months$]="months$" [yearSelected]="yearSelected" 
[monthSelected]="monthSelected" [ventasFiltradas$]="ventasFiltradas$" (onYearChangeRedirect)="year_OnChange($event)"
(onMesChangeRedirect)="mes_OnChange($event)"></app-selects>